@font-face {
  font-family: "Applesandol";
  src: url("./AppleSDGothicNeoL00-09.otf");

  font-family: "syn";
  src: url("./Syncopate-Regular.ttf");
}

body {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
}

video {
  position: absolute;
  padding: 0px;
  margin: 0px;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: -moz-hidden-unscrollable;
  object-fit: cover;
}

.first {
  font-family: syn;
  color: white;
  text-align: center;
  font-size: 5em;
}

p {
  font-family: Applesandol;
  color: white;
  text-align: center;
}

a {
  text-decoration: none;
  color: white;
}

.blog {
  font-family: syn;
  color: white;
  text-align: center;
  font-size: 2em;
  text-decoration: none;
}

.github {
  font-family: syn;
  color: white;
  text-align: center;
  font-size: 2em;
  text-decoration: none;
}

form {
  text-align: center;
}

p2 {
  font-family: syn;
  color: white;
  text-align: center;
  text-decoration: none;
}
